@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: tomato;
  width: 100%;
  border-radius: 20px;
  padding: 0 20px;
  margin: 0 10%;
  height: 400px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error {
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
